/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Sora:wght@400;500;600;700;800&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&family=Montserrat:wght@400;500;600;700;900&display=swap');

body {
    font-family: 'Golos', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.card-name{
    font-weight: 900;
    font-size: 22px;
}

.card-price {
    font-size: 18px;
    font-weight: 700;
}

.box__shadow{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
