<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Дебетовые карты</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">-->
    <!--     <link rel="stylesheet" href="css/header.css"/>-->
<!--    <link rel="stylesheet" type="text/css" href="/static/css/header.css" th:href="@{/css/header.css}"/>-->
    <link rel="stylesheet" type="text/css" href="/Архив/cardsOld.css" th:href="@{/css/cards.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <style>

    </style>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">MyBank</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/"> Главная </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cards"> Карты </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/deposits"> Вклады </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/credits"> Кредиты </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/control-panel"> Панель администратора </a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <a href="/login" class="btn btn-outline-dark" th:if="${user == null}"> Войти </a>
                <a href="/profile" class="btn btn-outline-dark " th:if="${user != null}"> Личный кабинет </a>
            </form>
        </div>
    </div>
</nav>

<div class="container-lg d-flex justify-content-center align-items-center">
    <div>
        <h2 >Редактирование карт.</h2>
        <div class="card my-2 shadow-sm">
            <div class="card-header">
                Редактировать
            </div>
            <form class="list-group list-group-flush width-fit-content" th:action="@{/cards/{id}(id=${card.cardId})}" method="post">
                <input class="list-group-item" type="text" name="name" th:value="${card.name}" placeholder="Название" required>
                <input class="list-group-item" type="text" name="price" th:value="${card.price}" placeholder="Стоимость">
                <input class="list-group-item" type="text" name="cashBackPercent" th:value="${card.cashBackPercent}" placeholder="Кешбэк">
                <input class="list-group-item" type="text" name="operationsLimit" th:value="${card.operationsLimit}" placeholder="Лимит на переводы">
                <input class="list-group-item" type="text" maxlength="2" minlength="2" name="bankProgramCode" placeholder="Код" th:value="${card.bankProgramCode}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                <textarea id="floatingTextarea" class="list-group-item w-100 " name="description" th:text="${card.description}" placeholder="Описание" style="width: 100%"></textarea>
                <button class="btn btn-primary mx-5" type="submit">Сохранить</button>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> <!-- ???Здесь Не обязатальный-->
            </form>
        </div>
    </div>
</div>

</body>
</html>