<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Вклады</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--     <link rel="stylesheet" href="css/header.css"/>-->
    <!--  <link rel="stylesheet" type="text/css" href="/static/css/header2.css" th:href="@{/css/header2.css}"/>-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/Архив/cardsOld.css" th:href="@{/css/cards.css}"/>
    <style>

    </style>
</head>

<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">MyBank</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/"> Главная </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cards"> Карты </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/deposits"> Вклады </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/credits"> Кредиты </a>
                </li>
                <li th:if="${admin} == true" class="nav-item">
                    <a class="nav-link" href="/admin/control-panel"> Панель администратора </a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <a href="/login" class="btn btn-outline-dark" th:if="${user == null}"> Войти </a>
                <a href="/profile" class="btn btn-outline-dark " th:if="${user != null}"> Личный кабинет </a>
            </form>
        </div>
    </div>
</nav>
<!-- конец header -->

<div class="container-lg">

    <div>
        <h1 class="display-3" >Обновление базы данных </h1>
        <form class="input-group" method="post" action="/admin/control-panel">
            <select name="updateType" class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                <option value="ALL" selected>Обновить все</option>
                <option value="CARD">Обновить карты</option>
                <option value="DEPOSIT">Обновить вклады</option>
                <option value="CREDIT">Обновить кредиты</option>
            </select>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button type="submit" class="btn btn-outline-secondary">Запустить</button>
        </form>

        <div class="my-3">
            <h1 class="display-6 ">Последние обновления</h1>
            <div class="my-1">
                <dl class="row">
                    <dt class="col-sm-3">Карты: </dt>
                    <dd class="col-sm-9" th:text="${cardsUpdate}"></dd>

                    <dt class="col-sm-3">Вклады</dt>
                    <dd class="col-sm-9" th:text="${depositsUpdate}"></dd>

                    <dt class="col-sm-3">Кредиты</dt>
                    <dd class="col-sm-9">A description list is perfect for defining terms.</dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="my-3" >
        <h2 class="display-6" >Заявки на кредиты </h2>
    </div>

</div>



</body>